  <!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "activityheader", "before" : true -->
<div class="">
    <div class="col-md-9 col-sm-10 col-lg-10 col-xs-10">
        <search meph-event-keypressed="v$.searchDynChanged" mephid="searchInput" meph-data-placeholder="Search..."></search>
    </div>
    <div class="col-md-2 col-sm-1 col-lg-1 col-xs-2 main-view-search-button">
        <mephbutton meph-event-click="v$.searchChanged"
                    meph-data-style="padding:4px;margin:0px;"
                    class="btn btn-passive btn-lg connection-app-search-main">
            <i class="fa fa-search" style="color:white;"></i>
        </mephbutton>
    </div>
</div>
<!-- "instruction": true, "name" : "injectop", "close": true -->
