<div class="meph-view meph-view-remove mainview createcontact">
    <createcontactview data-bind='"activityName": "c$.name"' mephid="createview">

        <div class="col-md-12 qrcode-row">
            <span data-bind='"innerHTML": "v$.status"'></span>
            <camera mephid="camera" descriptiontext="Camera Image" meph-event-change="v$.onImageChange" labeltext="Camera Image"></camera>
            <div style="display:none;" canvasholder> <canvas mephid="canvas"></canvas></div>
            <camerastream mephid="camerasource"></camerastream>
        </div>
    </createcontactview>
</div>
