<div class="meph-view meph-view-remove mainview">
    <previewview data-bind='"activityName": "c$.name"' mephid="previewview">

        <div class="col-md-6 col-xs-6">
            <div class="empty_contact"></div>
        </div>
        <div class="col-md-6 col-xs-6">
            <h3 data-bind='"innerHTML":"v$.contact.name"'></h3>
            <h4 data-bind='"innerHTML":"v$.contact.phone"'></h4>
            <h4 data-bind='"innerHTML":"v$.contact.address"'></h4>
            <h4 data-bind='"innerHTML":"v$.contact.title"'></h4>
        </div>
        <div id="qrcode" class="col-md-12 col-xs-12">

        </div>
        <div class="col-md-12 col-xs-12">
            <relationship mephid="relationshipdescription"></relationship>
        </div>

    </previewview>
</div>
