<li class="list-group-item contact-list-item">
    <a href="javascript:void(0);">
        <div class="row">
            <div class="col-xs-4  ">
                <div style="background-image:{{profileimageurl}}" class="connection-list-profile-image"></div>
            </div>
            <div class="col-xs-7 contact-list-item-information">
                <div>{{match}}</div>
                <!--<b>{{name}}</b>-->
                <!-- "name":"beforephone" -->
                <h3>{{distance}}</h3>
            </div>
        </div>
    </a>
</li>