<li class="list-group-item contact-list-item">
    <a href="javascript:void(0);">
        <div class="row">
            <div class="col-md-2 col-xs-3 col-sm-3 col-lg-2 ">
                <div style="background-image:{{profileimageurl}}" class="connection-list-profile-image"></div>
            </div>
            <div class="col-md-10 col-xs-9 col-sm-9 col-lg-10">
                <div>{{match}}</div>
                <!--<b>{{name}}</b>-->
                <i class="fa fa-phone"></i>&nbsp; &nbsp;<span>{{phone1}}</span>
                <br />
                <i class="fa fa-envelope"></i>&nbsp; &nbsp;<span>{{email1}}</span>
                <br />
                <i class="fa fa-at"></i>&nbsp; &nbsp;<small>{{occupation}}</small>
                <br />
                <i class="fa fa-cogs"></i>&nbsp; &nbsp;<small>{{company}}</small>
            </div>
        </div>
    </a>
</li>