<li class="list-group-item contact-list-item">
    <a href="javascript:void(0);" tabindex="0">
        <div class="row">
            <div class="col-xs-4 ">
                <div style="background-image:{{profileimageurl}}" title="{{name}}" class="connection-list-profile-image"></div>
                <div title="Common contacts" class="common-contacts common-contacts-list-item {{nocommoncontacts}}">{{commonRelationshipCount}}</div>
            </div>
            <div class="col-xs-7 contact-list-item-information">
                <h4>{{match}}</h4>
                <h5>{{occupation}}</h5>
                <h5>{{company}}</h5>
                <h5>{{city}} {{stateprovince}}</h5>
            </div>
        </div>
    </a>
</li>