  <!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "activityfooter", "before" : true -->
<div>
    <mephbutton type="button" class="btn btn-primary btn-lg ">
        <i class="fa fa-share-alt fa-2x"></i>
    </mephbutton>
    <!--<a data-bind='"href" : "v$.contact | v$.toSMS"'>
        <mephbutton type="button" class="btn btn-primary btn-lg ">
            <i class="fa fa-font fa-2x"></i>
        </mephbutton>
    </a>
    <a data-bind='"href" : "v$.contact | v$.toPhoneNumber"'>
        <mephbutton type="button" class="btn btn-default btn-lg " meph-event-click="">
            <i class="fa fa-mobile fa-2x"></i>
        </mephbutton>
    </a>-->
</div>
<!-- "instruction": true, "name" : "injectop", "close": true -->
