<div class="meph-view meph-view-remove">
    <activityview data-bind='"activityName": "c$.name", "header.innerHTML": "ct$.textValue", "colorBox.style.backgroundColor": "ct$.colorValue"'>
        <div role="form">
            <h2 mephid="header">
                asdf
            </h2>
            <textfield descriptiontext="Description" value="ct$.textValue" inputcssclass="asdfsds" labeltext="Text"></textfield>
            <textfield descriptiontext="Description" value="ct$.textValue" labeltext="Text"></textfield>
            <color descriptiontext="Color" labeltext="Color" value="ct$.colorValue"></color>
            <div>
                Selected Color
                <div style="width: 40px; height: 40px;" mephid="colorBox"></div>
            </div>
            <date descriptiontext="Date" labeltext="Date"></date>
            <checkbox descriptiontext="Date" labeltext="Date"></checkbox>
            <datetime descriptiontext="DateTime" labeltext="Date Time"></datetime>
            <datetime_local descriptiontext="DateTime Loca" labeltext="Date Time Local"></datetime_local>
            <email descriptiontext="Email" labeltext="Email"></email>
            <month descriptiontext="Month" labeltext="Month"></month>
            <number descriptiontext="Number" labeltext="Number"></number>
            <range descriptiontext="Range" labeltext="Range"></range>
            <search descriptiontext="Search" labeltext="Search"></search>
            <telephone descriptiontext="Telephone" labeltext="Telephone"></telephone>
            <url descriptiontext="URL" labeltext="URL"></url>
            <week descriptiontext="Week" labeltext="Week"></week>
            <camera descriptiontext="Camera Image" labeltext="Camera Image"></camera>
            <camerastream descriptiontext="Camera Stream" labeltext="Camera Stream"></camerastream>
        </div>
    </activityview>
</div>
