  <!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "activityheader", "before" : true -->

<div tabindex="0"
     class="col-xs-12 connection-chat-view connection-members-name"
     meph-event-keyup="boolean.IsTrue, v$.isReturnHit, v$.view | boolean.Then, style.show, c$.typeaheadHolder | boolean.Then, style.hide, c$.nameDisplay | c$.focusTypeahead "
     meph-event-click="v$.gotoEditGroupView"
     mephid="nameDisplay"
     data-bind='"innerHTML":"v$.memberNames"'>
</div>
<!-- "instruction": true, "name" : "injectop", "close": true -->
