  <!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "activityfooter", "before" : true -->
<div>
    <mephbutton type="button" class="btn btn-primary btn-lg  "
                meph-event-click="v$.acceptContact">
        <span class="glyphicon glyphicon-ok"></span>
    </mephbutton>
    <mephbutton type="button" class="btn btn-primary btn-lg  "
                meph-event-click="v$.cancelContact">
        <span class="glyphicon glyphicon-remove"></span>
    </mephbutton>
</div>
<!-- "instruction": true, "name" : "injectop", "close": true -->
