<div headerpadding>
    <div class="col-md-12 col-xs-12">
          <div data-bind='"style.backgroundImage" : "c$.data.profileimageurl"' class="center-block profile"></div>
    </div>
    <div class="col-md-12 col-xs-12">
        <h3 data-bind='"innerHTML":"c$.data.name"'></h3>
        <i class="fa fa-at"></i>&nbsp; &nbsp;    <small data-bind='"innerHTML":"c$.data.occupation"'></small>
        <i class="fa fa-cicogs"></i>&nbsp; &nbsp;  <small data-bind='"innerHTML":"c$.data.company"'></small>
        <br />
        <small data-bind='"innerHTML":"c$.data.addressline1"'></small>
        <br />
        <small data-bind='"innerHTML":"c$.data.addressline2"'></small>
        <br />
        <small data-bind='"innerHTML":"c$.data.city"'></small>,
        <small data-bind='"innerHTML":"c$.data.stateprovince"'></small>
        <small data-bind='"innerHTML":"c$.data.zipcode"'></small>

        <br />
        <i class="fa fa-envelope-o"></i>&nbsp; &nbsp;   <small data-bind='"innerHTML":"c$.data.email1"'></small>

        <br />
        <i class="fa fa-envelope-o"></i>&nbsp; &nbsp;    <small data-bind='"innerHTML":"c$.data.email2"'></small>

        <br />
        <i class="fa fa-phone"></i>&nbsp; &nbsp;   <small data-bind='"innerHTML":"c$.data.phone1"'></small>

        <br />
        <i class="fa fa-phone"></i>&nbsp; &nbsp;   <small data-bind='"innerHTML":"c$.data.phone2"'></small>

    </div>
</div>
