<div headerpadding class="contact-view-body">
    <div class="col-md-12 col-xs-12">
        <div data-bind='"style.backgroundImage" : "c$.data.profileimageurl"' class="center-block profile"></div>
    </div>
    <div class="col-md-12 col-xs-12">
        <div class="contact-view-body-details">
            <h1 data-bind='"innerHTML":"c$.data.name"'></h1>
            <h2 data-bind='"innerHTML":"c$.data.occupation"'></h2>
            <h3 data-bind='"innerHTML":"c$.data.company"'></h3>
            <h4 data-bind='"innerHTML":"c$.data.addressline1"'></h4>
            <h4 data-bind='"innerHTML":"c$.data.addressline2"'></h4>
            <h4>
                <span data-bind='"innerHTML":"c$.data.city"'></span>,
                <span data-bind='"innerHTML":"c$.data.stateprovince"'></span>
                <span data-bind='"innerHTML":"c$.data.zipcode"'></span>
            </h4>


        </div>
        <br />
        <contactlink value="c$.data.phone1" dead-link="fa-dead" fa-icon="fa-phone" type="phone"></contactlink>
        <br />
        <contactlink value="c$.data.phone2" dead-link="fa-dead" fa-icon="fa-phone" type="phone"></contactlink>


        <br />
        <contactlink value="c$.data.email1" dead-link="fa-dead" fa-icon="fa-envelope-o" type="email"></contactlink>

        <br />
        <contactlink value="c$.data.email2" dead-link="fa-dead" fa-icon="fa-envelope-o" type="email"></contactlink>

    </div>
</div>
