<div class="meph-view meph-view-remove">
    <activityview data-bind='"activityName": "c$.name"'>
        <panel cls="meph-panel-basic meph-layout-grid-column-a meph-layout-grid-row-a">
            <header>Panel Header</header>
            <panelbody>Panel Body<div>Panel Body</div></panelbody>
            <left>Panel Left</left>
            <right>Panel Right</right>
            <panelfooter>Panel Footer</panelfooter>
        </panel>

        <panel cls="meph-panel-basic meph-layout-grid-column-a meph-layout-grid-row-a">
            <header>Panel Header</header>
            <panelbody>Panel Body<div>Panel Body</div></panelbody>
        </panel>


        <panel cls="meph-panel-basic meph-layout-grid-row-b">
            <header>Panel Header</header>
            <panelbody>
                <panel cls="meph-panel-basic meph-layout-grid-column-a ">
                    <header>Panel Header</header>
                    <panelbody>Panel Body<div>Panel Body</div></panelbody>
                    <left>Panel Left</left>
                    <right>Panel Right</right>
                    <panelfooter>Panel Footer</panelfooter>
                </panel>
                 <panel cls="meph-panel-basic meph-layout-grid-column-a ">
                    <header>Panel Header</header>
                    <panelbody>Panel Body<div>Panel Body</div></panelbody>
                    <left>Panel Left</left>
                    <right>Panel Right</right>
                    <panelfooter>Panel Footer</panelfooter>
                </panel>
                 <panel cls="meph-panel-basic meph-layout-grid-column-a ">
                    <header>Panel Header</header>
                    <panelbody>Panel Body<div>Panel Body</div></panelbody>
                    <left>Panel Left</left>
                    <right>Panel Right</right>
                    <panelfooter>Panel Footer</panelfooter>
                </panel>
                 <panel cls="meph-panel-basic meph-layout-grid-column-a ">
                    <header>Panel Header</header>
                    <panelbody>Panel Body<div>Panel Body</div></panelbody>
                    <left>Panel Left</left>
                    <right>Panel Right</right>
                    <panelfooter>Panel Footer</panelfooter>
                </panel>
            </panelbody>
        </panel>
    </activityview>
</div>
