<div class="meph-activity-view">
    <div class="meph-activity-view-header" mephid="headerdiv">
        <h2 data-bind='"innerHTML": "c$.activityName"' mephid="headername"></h2>
        <div style="position: absolute; right: 10px; top: 0px;" mephid="closeBtn" data-events='"buttonClickEvent": "c$.onButtonClicked"'>
            <iconbutton icon="Remove" color="Black" size="X2"></iconbutton>
        </div>
        <!-- "name" : "activityheader" -->
    </div>
    <div class="meph-activity-view-body">
        <!-- "name" : "defaultLocation" -->
    </div>
    <div class="meph-activity-view-footer" mephid="footer">
        <!-- "name" : "activityfooter" -->
    </div>
</div>