<div class="meph-view meph-view-remove">
    <activityview data-bind='"activityName": "c$.name"'>
        <div>
            <mephbutton meph-event-click="v$.logInWithGoogle" class="btn btn-block btn-social">
                <i class="google-plus"></i>
                <span>Sign in with Google</span>
            </mephbutton>

            <mephbutton meph-event-click="v$.getMeWithGoogle" class="btn btn-block btn-social">
                <i class="google-plus"></i>
                <span>Get Me</span>
            </mephbutton>
        </div>
    </activityview>

</div>
