<div>
    <!-- "name":"precanvas" -->

    <div class="visualizer col-md-12"
         style="position:relative; padding:0; margin:0;"
         mephid="container"
         meph-data-class="c$.visualizerCls"
         meph-data-height="c$.height"
         data-bind='"scrollLeft" : "c$.scrollleft | c$.calculateLeft"'>
        <!-- "name":"beforecanvas" -->
        <canvas mephid="canvas" meph-data-height="c$.height"
                meph-event-mousemove="c$.onMouseMove"
                meph-event-mouseup="c$.onMouseUp"
                meph-event-mousedown="c$.onMouseDown" meph-data-width="c$.width"></canvas>
        <div mephid="mousehover" class="noresponse selectarea"></div>
    </div><!-- "name":"canvas" -->
</div>