<div class="meph-view meph-view-remove main-contact">
    <contactview data-bind='"activityName": "v$.contact.name"' mephid="$activityview">
        <div class="col-md-12 col-xs-12 contact-view-header">
            <div data-bind='"style.backgroundImage" : "v$.contact.profileimageurl"'
                 mephid="profileimage"
                 class="center-block empty_contact profile"></div>
            <div title="Common contacts" class="common-contacts common-position-right" data-bind='"data-attr":"v$.contact.commonRelationshipCount"'>
                <span data-bind='"innerHTML":"v$.contact.commonRelationshipCount"'></span>
            </div>
            <div style="position:absolute; top:0px;" class="connection-box">
                <div mephid="removeRelationshipBtn" class="connection-box-indicator" style="display:none;">
                    <i class="fa fa-link fa-2x col-md-12"></i>
                    <div>Connected</div>
                </div>
                <div mephid="addRelationshipBtn" class="connection-box-indicator" style="display:none;">
                    <mephbutton class="connection-box-button" meph-event-click="v$.checkingResult | v$.createIfNonExistent | v$.displayResult">
                        <i class="fa fa-chain-broken fa-2x col-md-12"></i>
                        <div>Connect</div>
                    </mephbutton>
                </div>
                <div mephid="checkingRelationship" class="connection-box-indicator" style="display:none;">
                    <i class="fa fa-cog fa-2x col-md-12 fa-spin"></i>
                    <div>Working...</div>
                </div>
            </div>
            <div style="position:absolute;" class="message-box">
                <div class="connection-box-indicator" meph-event-click="v$.messageContact">
                    <i class="fa fa-comment fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="col-md-12 dotcode-container" mephid="dotcodecontainer">
            <dotcode mephid="dotcode"
                     meph-event-click="style.toggle,c$.dotcodecontainer,active"
                     meph-data-size="auto"></dotcode>
        </div>
        <div class="col-md-12 col-xs-12 contact-view-body">
            <div class="contact-view-body-details">
                <h1 data-bind='"innerHTML":"v$.contact.name"'></h1>
                <h2 data-bind='"innerHTML":"v$.contact.occupation"'></h2>
                <h3 data-bind='"innerHTML":"v$.contact.company"'></h3>
                <h5 data-bind='"innerHTML":"v$.contact.company"'></h5>

                <small data-bind='"innerHTML":"v$.contact.addressline1"'></small>
                <br />
                <small data-bind='"innerHTML":"v$.contact.addressline2"'></small>
                <br />
                <small data-bind='"innerHTML":"v$.contact.city"'></small>,
                <small data-bind='"innerHTML":"v$.contact.stateprovince"'></small>
                <small data-bind='"innerHTML":"v$.contact.zipcode"'></small>
            </div>
            <br />
            <contactlink value="v$.contact.phone1" fa-icon="fa-phone" type="phone"></contactlink>

            <br />
            <contactlink value="v$.contact.phone2" fa-icon="fa-phone" type="phone"></contactlink>

            <br />
            <contactlink value="v$.contact.email1" fa-icon="fa-envelope-o" type="email"></contactlink>

            <br />
            <contactlink value="v$.contact.email2" fa-icon="fa-envelope-o" type="email"></contactlink>

        </div>
        <br />
        <!--<div class="col-md-12 col-xs-12 contact-view-body"
             meph-event-click="v$.hideShow, v$.$activityview.smallqrcode, v$.$activityview.qrcode">
            <div class="col-md-12 col-xs-12" mephid="qrcode" id="qrcode" qrcode>
            </div>
            <div class="col-md-12 col-xs-12" id="smallqrcode" mephid="smallqrcode" qrcode>
            </div>
        </div>-->
        <div class="col-md-12 col-xs-12 contact-view-body" footerpadding>
            <!--<relationship mephid="relationshipdescription" meph-data-contact="v$.contact"></relationship>-->
        </div>
    </contactview>
</div>
