<div class="meph-view meph-view-remove main-contact">
    <contactview data-bind='"activityName": "v$.contact.name"' mephid="$activityview">
        <div class="col-md-12 col-xs-12">
            <div data-bind='"style.backgroundImage" : "v$.contact.profileimageurl"' mephid="profileimage" class="center-block empty_contact profile"></div>
        </div>
        <div class="col-md-12 col-xs-12">
            <h3 data-bind='"innerHTML":"v$.contact.name"'></h3>
            <i class="fa fa-at"></i>&nbsp; &nbsp;    <small data-bind='"innerHTML":"v$.contact.occupation"'></small>
            <br />
            <i class="fa fa-cicogs"></i>&nbsp; &nbsp;  <small data-bind='"innerHTML":"v$.contact.company"'></small>
            <br />
            <small data-bind='"innerHTML":"v$.contact.addressline1"'></small>
            <br />
            <small data-bind='"innerHTML":"v$.contact.addressline2"'></small>
            <br />
            <small data-bind='"innerHTML":"v$.contact.city"'></small>,
            <small data-bind='"innerHTML":"v$.contact.stateprovince"'></small>
            <small data-bind='"innerHTML":"v$.contact.zipcode"'></small>

            <!--<i class="fa fa-envelope-o"></i>&nbsp; &nbsp;   <small data-bind='"innerHTML":"v$.contact.email1"'></small>-->
            <contactlink value="v$.contact.email1" fa-icon="fa-envelope-o" type="email"></contactlink>
            <!--<i class="fa fa-envelope-o"></i>&nbsp; &nbsp;    <small data-bind='"innerHTML":"v$.contact.email2"'></small>-->
            <contactlink value="v$.contact.email2" fa-icon="fa-envelope-o" type="email"></contactlink>
            <!--<i class="fa fa-phone"></i>&nbsp; &nbsp;   <small data-bind='"innerHTML":"v$.contact.phone1"'></small>-->
            <contactlink value="v$.contact.phone1" fa-icon="fa-phone" type="phone"></contactlink>
            <!--<i class="fa fa-phone"></i>&nbsp; &nbsp;   <small data-bind='"innerHTML":"v$.contact.phone2"'></small>-->
            <contactlink value="v$.contact.phone2" fa-icon="fa-phone" type="phone"></contactlink>
        </div>
        <div class="col-md-12 col-xs-12"
             meph-event-click="v$.hideShow, v$.$activityview.smallqrcode, v$.$activityview.qrcode">
            <div class="col-md-12 col-xs-12" mephid="qrcode" id="qrcode" qrcode>
            </div>
            <div class="col-md-12 col-xs-12" id="smallqrcode" mephid="smallqrcode" qrcode>
            </div>
        </div>
        <div class="col-md-12 col-xs-12" footerpadding>
            <relationship mephid="relationshipdescription" meph-data-contact="v$.contact"></relationship>
        </div>
    </contactview>
</div>
