<!-- "instruction": true, "name" : "injectheader", "operation" : "inject" , "position" : "activityheader", "before" : true -->

<!-- "instruction": true, "name" : "injectheader", "close": true -->
<!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "activityfooter", "before" : true -->
<div>
    <mephbutton type="button" class="btn btn-primary btn-lg " meph-event-click="v$.ok">
        <i class="fa fa-check fa-2x"></i>
    </mephbutton>
    <!--<mephbutton type="button" class="btn btn-default btn-lg " meph-event-click="v$.cancel">
        <span class="glyphicon glyphicon-remove"></span>
    </mephbutton>-->
</div>
<!-- "instruction": true, "name" : "injectop", "close": true -->