$top-zindex: 1000000;
$tiny-text-size: 10px;
$connection-box-border-radius: 20px;
$profile-item-height: 75px;

$connection-list-profile-details-padding: 55px;
$connection-list-profile-image-width: $connection-list-profile-details-padding - 5px;
$profile-item-image-height: $profile-item-height - 10;

/* As hex codes */


/* As RGBa codes */

$rgba-primary-0: rgba(0, 145, 207,1); /* Main Primary color */
$rgba-primary-1: rgba(50,166,0,1);
$rgba-primary-2: rgba(241,89,78,1);
$rgba-primary-3: rgba(233, 176, 0,1);
$rgba-primary-4: rgba( 246, 110, 0,1);


.connection-application-logo {
}


$view-header-body-height: 50px;
$view-header-body-padding-botttom: 0px;

$profile_height: 200px;
$profile_width: 200px;

$profile_height_sm: 100px;
$profile_width_sm: 100px;

$profile_list_height: 79px;
$profile_list_width: 79px;

.mainview {
    .meph-activity-view-body {
        padding-top: $view-header-body-height;
        padding-bottom: $view-header-body-padding-botttom;

        .listwrapper {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }


    .meph-activity-view-header {
        height: auto;
    }
}

.meph-view.login-view,
.listwrapper,
.meph-view.meph-edit-contact .meph-activity-view-body,
.meph-view.main-contact .meph-activity-view-body {
    @include phones() {
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }
}

$view-header-top-padding: $view-header-body-height;

[footerpadding] {
    padding-bottom: $view-header-body-height + 20px;
}

/*[headerpadding] {
    padding-top: $view-header-top-padding;
}*/

$space-between-fields: 50px;

[edit-contact-fields] > div {
    margin-bottom: $space-between-fields;
}

.connection-app-add-contact {
    top: 2px;
    position: absolute;
    right: 2px;
    display: none;
}

.connection-app-search-main {
    border: none;
    outline: none;
    box-shadow: none;
}

.connection-app-add-contact.hearbeat {
    right: 50%;
}


.connection-list-profile-item {
    list-style: none;
    padding: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: $profile-item-height;
}

.connection-show .connection-app-add-contact {
    display: block;
}

.connection-list-profile-item:nth-of-type(n) {
    background-color: $rgba-primary-0;
}

.connection-list-profile-item:nth-of-type(2n) {
    background-color: $rgba-primary-1;
}

.connection-list-profile-item:nth-of-type(3n) {
    background-color: $rgba-primary-3;
}

.connection-list-profile-item:nth-of-type(4n) {
    background-color: $rgba-primary-4;
}

.connection-list-profile-item:nth-of-type(5n) {
    background-color: $rgba-primary-2;
}



.connection-list-profile-image {
    position: absolute;
    width: 50px;
}

.connection-list-profile-image + .meph-application-menu-categories-item-details {
    padding-left: $connection-list-profile-details-padding;
    color: white;
}

.meph-application-menu-categories-item-details hr {
    margin: 1px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
}


.meph-application-body.container-fluid {
    padding: 2px;
    margin: 0;
}

.meph-application-body {
    .btn-lg, .btn-group-lg > .btn {
        border-radius: 0;
    }
}

.listitem {
    list-style: none;
}

.relationshiplistitem {
}

.relationshiplistitem input[type=checkbox] {
    width: 25px;
    height: 25px;
}

.relationshiplistitem .relationshiptext {
    padding-top: 11px;
}


.connecton-application-header [flyoutpanel] {
    background-color: white;
    margin-top: $view-header-body-height;
    padding-top: 0px;
    height: 100%;

    .connection-menu-template {
        color: black;
    }

    .connection-menu-template.list-group-item:last-child {
        border-radius: 0px;
    }
}

.vertspace {
    margin-top: 4px;
}

@import "media";

@import "templates";

.contact-list-item {

    &:nth-child(2n) {
        background-color: rgb(247, 247, 247);
    }

    .contact-image {
        background-image: url("images/empty_contact.png");
        height: 64px;
        width: 64px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-position-y: 50%;
        background-color: grey;
        background-size: 106% 172%;
        border-radius: 50% 50%;
    }

    h4 {
        color: rgb(243, 116, 98);
        margin: 0;
    }
}

.createcontact {
    video {
        width: 100%;
    }
}


@mixin pallette($palette, $color1, $color2, $color3, $color4) {


    body.#{$palette} {
        &.mobile-bottom-menu.#{$palette} {
            .meph-activity-view-footer {
                bottom: 50px;
            }

            .meph-application-header {
                bottom: 0;
                z-index: $top-zindex;

                .meph-flyout-panel {
                    width: 100%;
                }

                [flyoutpanel] {
                    height: $view-header-body-height;
                    bottom: 0px;
                    top: initial;
                    background-color: transparent;
                    margin-top: 0px;

                    ul {
                        margin: 0px;

                        .listitem {
                            float: left;
                            background-color: transparent;
                            text-align: center;
                            width: 25%;
                            border: 0;

                            .fa {
                                margin-top: -6px;
                                text-align: center;
                            }

                            h4 {
                                display: block;
                                font-size: $tiny-text-size;
                                margin: 0;
                                color: $color3;
                            }
                        }
                    }
                }
            }

            .meph-application-body {
                border-top: 0px;
            }
        }

        [editrelationship] {
            h2 {
                margin: 0px;
            }

            .row {
                margin-right: -10px;
                margin-left: 0px;
            }
        }

        .meph-application-header {
            background-color: $color1;
            color: $color4;
        }

        .contact-list-item {
            background-color: $color3;
            color: $color1;

            a {
                color: $color4;

                i.fa {
                    color: $color1;
                }
            }
        }

        .list-group-item {
            padding-left: 8px;
            padding-right: 8px;
        }
        /*.contact-list-item:nth-child(2n) {
            background-color: $color2;
            color: $color1;

            a {
                color: $color4;
            }
        }*/
        .list-group {
            padding-bottom: 30px;
        }

        .contact-list-item h4 {
            color: $color1;
        }

        .glyphicon.glyphicon-th-large.meph-color-white {
            color: $color4;
        }


        .meph-view.mainview .meph-activity-view-header {
            background-color: $color1;

            h2 {
                margin: 0px;
            }
        }

        .meph-activity-view-body,
        .meph-application-body.container-fluid {
            padding: 0px;
        }

        .accounts {
            .meph-activity-view-body {
                padding-bottom: 50px;
            }
        }

        .meph-activity-view-body {
            padding-top: 45px;
        }

        .createcontact {
            .meph-activity-view-body {
                padding-top: 0px;
            }
        }

        .meph-view.main-contact,
        .mainview.accounts {
            .meph-activity-view-body {
                padding-top: 0px;
            }
        }

        .mainview {
            .meph-activity-view-body .listwrapper {
                /*margin-top: 60px;
                margin-bottom: 60px;*/
            }
        }

        .mainview.accounts {
            .meph-activity-view-body .listwrapper {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }

        .fa {
            color: $color1;
        }

        .meph-application-header {
            .fa {
                color: $color3;
            }
        }

        .btn-social {
            .fa {
                color: $color3;
            }
        }

        .meph-activity-view-footer {
            background-color: $color1;
        }


        .meph-application-body {
            .btn-lg, .btn-group-lg > .btn {
                border-radius: 0;
                background-image: none;
                background-color: transparent;
                border-color: transparent;
            }

            .meph-activity-view-footer {
                .fa {
                    color: $color3;
                }
            }
        }

        .glyphicon.glyphicon-th-large.meph-color-white {
            color: $color3;
            padding: 6px;
            box-shadow: none;
            outline: none;
        }

        .list-group-item:active {
            background-color: $color2;
        }

        .meph-application-header.connecton-application-header {
            .fa fa-plus,
            .fa.fa-bars {
                font-size: 2em;
            }

            .meph-application-menu-button-container {
                button {
                    padding: 0;
                    padding-left: 15px;
                    padding-top: 6px;
                    outline: none;
                }
            }
        }

        .profile {
            height: $profile_height;
            width: $profile_width;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 50%;
            background-position-x: 50%;
        }

        .profile.small {
            height: $profile_height_sm;
            width: $profile_width_sm;
        }

        .connection-list-profile-image {
            height: $profile_list_height;
            width: $profile_list_width;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: white;
            border-radius: 50%;
            background-position-x: 50%;
            /*@include meph-image-background($file: 'empty_contact.png');*/
        }

        [editrelationship] .row.relationshiplistitem {
            /* padding: 0; */
            border: 0;
            margin: 0;
        }

        .main-view-search-button {
            padding-right: 0px;

            button {
                padding-left: 0;
                /*padding-right: 0;*/
            }
        }

        .connection-box {
            position: absolute;
            top: 0px;
            background-color: $color1;
            color: $color3;
            padding: 10px;
            border-radius: $connection-box-border-radius;

            div {
                font-size: 11px;
            }

            i {
                color: $color3;
            }
        }

        ;
    }
}

@include pallette($palette:"mea-culpa", $color1: #191919, $color2: #DFE2DB, $color4: #FFF056, $color3: #FFFFFF);

@include pallette($palette:"big-top", $color1: #C63D0F, $color2: #7E8F7C, $color4: #3B3738, $color3: #FDF3E7);
