$top-zindex: 1000000;
$tiny-text-size: 10px;
$connection-box-border-radius: 50%;
$profile-item-height: 75px;
$fat-finger-height: 40px;
$margin-stardard: 0px;
$padding-standard: 0px;
$contact-list-item-height: 100px;
$contact-list-item-typeahead-height: 35px;
$common-contacts-badge-size: 30px;
$profile-image-border-width: 2px;
$padding-size: $padding-standard;
$button-dim: 58px;
$connection-box-indicator-padding: 7px;
$conversation-row-horizontal-margin: -10px;
$conversation-row-bottom-margin: 4px;
$chatview-input-textarea-height: 50px;
$connection-chat-view-font-size: 17px;
$connection-chat-view-members: 40px;
$chatview-input-row-height: 80px;
$profile-conversation-message-width: 50px;
$profile-conversation-message-height: 50px;
$chatview-bottom-padding: 49px;
$application-menu-secondary-border-radius: 10px;

$connection-list-profile-details-padding: 55px;
$connection-list-profile-image-width: $connection-list-profile-details-padding - 5px;
$profile-item-image-height: $profile-item-height - 10;

/* As hex codes */


/* As RGBa codes */

$rgba-primary-0: rgba(0, 145, 207,1); /* Main Primary color */
$rgba-primary-1: rgba(50,166,0,1);
$rgba-primary-2: rgba(241,89,78,1);
$rgba-primary-3: rgba(233, 176, 0,1);
$rgba-primary-4: rgba( 246, 110, 0,1);

.fa-bridge {
    &:before {
        content: 'B';
    }
}

.connection-application-logo {
}

$meph-activity-view-body-padding-top: 43px;

$view-header-body-height: 50px;
$view-header-body-padding-botttom: 0px;

$profile_height: 200px;
$profile_width: 200px;

$profile_height_sm: 100px;
$profile_width_sm: 100px;

$profile_list_height: 95px;
$profile_list_width: 95px;

$profile-list-width-small: 35px;
$profile-list-height-small: 35px;

$profile-image-margin-top: ($contact-list-item-height - $profile_list_height)/2;
$profile-image-margin-left: $profile-image-margin-top;

.mainview {
    .meph-activity-view-body {
        padding-top: $view-header-body-height;
        padding-bottom: $view-header-body-padding-botttom;

        .listwrapper {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }


    .meph-activity-view-header {
        height: auto;
    }
}

.nocommoncontacts {
    display: none;
}

.meph-view.login-view,
.listwrapper,
.meph-view.mainview .meph-activity-view-body,
.meph-view.meph-edit-contact .meph-activity-view-body,
.meph-view.main-contact .meph-activity-view-body {
    @include phones() {
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }
}

$view-header-top-padding: $view-header-body-height;

[footerpadding] {
    padding-bottom: $view-header-body-height + 20px;
}
/*[headerpadding] {
    padding-top: $view-header-top-padding;
}*/

$space-between-fields: 50px;

[edit-contact-fields] > div {
    margin-bottom: $space-between-fields;
}

.connection-app-add-contact {
    top: 2px;
    position: absolute;
    right: 2px;
    display: none;
}

.connection-app-search-main {
    border: none;
    outline: none;
    box-shadow: none;
}

.connection-app-add-contact.hearbeat {
    right: 50%;
}


.connection-list-profile-item {
    list-style: none;
    padding: $padding-standard;
    margin-top: 8px;
    margin-bottom: 8px;
    height: $profile-item-height;
}

.connection-show .connection-app-add-contact {
    display: block;
}

.connection-list-profile-item:nth-of-type(n) {
    background-color: $rgba-primary-0;
}

.connection-list-profile-item:nth-of-type(2n) {
    background-color: $rgba-primary-1;
}

.connection-list-profile-item:nth-of-type(3n) {
    background-color: $rgba-primary-3;
}

.connection-list-profile-item:nth-of-type(4n) {
    background-color: $rgba-primary-4;
}

.connection-list-profile-item:nth-of-type(5n) {
    background-color: $rgba-primary-2;
}



.connection-list-profile-image {
    position: absolute;
    width: 50px;
    margin-top: $profile-image-margin-top;
    margin-left: $profile-image-margin-left;
}

.connection-list-profile-image + .meph-application-menu-categories-item-details {
    padding-left: $connection-list-profile-details-padding;
    color: white;
}

.meph-application-menu-categories-item-details hr {
    margin: $margin-stardard;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
}


.meph-application-body.container-fluid {
    padding: $padding-standard;
    margin: $margin-stardard;
}

.meph-application-body {
    .btn-lg, .btn-group-lg > .btn {
        border-radius: 0;
    }
}

.listitem {
    list-style: none;
}

.relationshiplistitem {
}

.relationshiplistitem input[type=checkbox] {
    width: 25px;
    height: 25px;
}

.relationshiplistitem .relationshiptext {
    padding-top: $padding-standard;
}


.connecton-application-header [flyoutpanel] {
    background-color: white;
    margin-top: $view-header-body-height;
    padding-top: $padding-standard;
    height: 100%;

    .connection-menu-template {
        color: black;
    }

    .connection-menu-template.list-group-item:last-child {
        border-radius: 0px;
    }
}

.vertspace {
    margin-top: 4px;
}

@import "media";

@import "templates";


.createcontact {
    video {
        width: 100%;
    }
}


@mixin pallette($palette, $color1, $color2, $color3, $color4, $color5, $color6, $color7) {


    body[color-palette='#{$palette}'] {
        &.mobile-bottom-menu[color-palette='#{$palette}'] {


            .meph-activity-view-footer {
                bottom: 50px;
            }

            .common-position-right {
                position: absolute;
                right: 10px;
                top: 10px;
            }


            .common-contacts {
                height: $common-contacts-badge-size;
                width: $common-contacts-badge-size;
                border-radius: 50%;
                background-color: $color1;
                text-align: center;
                color: $color3;

                &[data-attr="0"],
                &[data-attr="null"] {
                    display: none;
                }

                &.common-contacts-list-item {
                    $cc-list-item-size: $common-contacts-badge-size / 1.1;
                    $cc-font-size: $cc-list-item-size - 8;
                    height: $cc-list-item-size;
                    width: $cc-list-item-size;
                    font-size: $cc-font-size;
                    position: absolute;
                    z-index: 100;
                    bottom: 2px;
                    left: 2px + $cc-list-item-size;
                    vertical-align: middle;
                    text-align: center;
                }

                span {
                    vertical-align: middle;
                    font-size: $common-contacts-badge-size - 10;
                }
            }



            .btn-bridge {
                background-color: $color1;
                color: $color3;
            }

            .overlay.relegated {
                right: 0px;
                bottom: 0px;
                top: initial;
                z-index: 1110000;
                left: initial;
                background-color: transparent;

                .fa {
                    color: $color3;
                }
            }

            .connecton-application-header {

                [flyoutpanel].meph-flyout-panel-right {
                    background-color: transparent;
                    height: auto;
                    margin-top: $margin-stardard;
                    opacity: 1;

                    .application-menu-list {
                        border: 1px transparent;
                        background-color: $color1;

                        @include mobilescreen() {
                            min-height: $fat-finger-height;
                        }

                        color: $color3;



                        &:active {
                            background-color: $color4;

                            i {
                                color: $color7;
                            }
                        }
                    }

                    .application-menu-secondary {
                        padding-left: 10px;

                        &:first-child {
                            border-top-left-radius: $application-menu-secondary-border-radius;
                        }

                        &:last-child {
                            border-bottom-left-radius: $application-menu-secondary-border-radius;
                        }
                    }
                    /*.fa {
                        color: $color4;
                    }*/
                    .connection-menu-template {
                        color: $color5;
                    }

                    .connection-menu-template.list-group-item:last-child {
                        border-radius: 0px;
                    }
                }
            }


            .meph-application-header {
                bottom: 0;
                z-index: $top-zindex;

                .meph-application-menu {
                    .meph-flyout-panel {
                        width: 100%;
                    }

                    [flyoutpanel] {
                        height: $view-header-body-height;
                        bottom: 0px;
                        top: initial;
                        background-color: transparent;
                        margin-top: $margin-stardard;

                        ul {
                            margin: $margin-stardard;

                            .listitem {
                                float: left;
                                text-align: center;
                                background-color: transparent;
                                border: 0;

                                .fa {
                                    margin-top: -6px;
                                    text-align: center;
                                }

                                h4 {
                                    display: block;
                                    font-size: $tiny-text-size;
                                    margin: $margin-stardard;
                                    color: $color3;
                                }

                                &:active {
                                    background-color: $color4;

                                    i {
                                        color: $color7;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .meph-application-body {
                border-top: 0px;
            }
        }

        [editrelationship] {
            h2 {
                margin: $margin-stardard;
            }

            .row {
                margin-right: -10px;
                margin-left: $margin-stardard;
            }
        }

        .meph-application-header {
            background-color: $color1;
            color: $color4;
        }

        .contact-list-item div.conversation-message-message {
            padding-right: 15px;
        }

        .conversation-row {
            margin-left: $conversation-row-horizontal-margin;
            margin-right: $conversation-row-horizontal-margin;
            margin-bottom: $conversation-row-bottom-margin;
        }

        .connection-chat-view {
            font-size: $connection-chat-view-font-size;
            color: $color3;
        }

        .conversation-profile-image {
            background-size: contain;
            background-repeat: no-repeat;
            height: 57px;
            display: inline-block;
            font-size: 32px;
            padding-left: 50px;
        }

        .single-row-text,
        .connection-members-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .connection-members-name {
            height: $connection-chat-view-members;
        }

        .contact-list-item {
            background-color: $color3;
            color: $color1;
            border: none;
            padding: 0px;
            height: $contact-list-item-height;

            &.conversation-list-item {
                height: auto;
                min-height: $profile-conversation-message-height;
            }

            &.contact-list-typeahead {
                height: $contact-list-item-typeahead-height;
            }

            .col-xs-4 {
                //Iphone 4 + 5
                width: $profile_list_height + $profile-image-border-width + 4px;
                position: absolute;
            }

            .col-xs-7 {
                position: relative;
                border-left: solid ($profile_list_height + $profile-image-border-width + 20px) transparent;
                width: 99%;
                padding-left: $padding-standard;
                margin-left: $margin-stardard;
            }

            &:nth-child(2n) {
                background-color: transparentize($color6, 0.78);

                .col-xs-7 {
                }
            }

            h4, h3, h2 {
                color: $color1;
                /*white-space: nowrap;
                text-overflow: ellipsis;*/
                margin: $margin-stardard;
                padding-top: 5px;
            }


            .connection-contact-name {
                color: $color2;
            }

            a {
                color: $color1;

                i.fa {
                    color: $color1;
                }
            }

            div {
                padding-right: $padding-standard;
                margin: 0;
            }

            & > div,
            & > small {
                color: $color4;
            }

            .contact-list-item-information {
                /*text-align: right;*/
                /*background-color: $color3;*/
                border-radius: 19px;
                padding-left: $padding-standard;
                height: $profile_list_height;
                overflow: hidden;

                &.conversation-message {
                    height: auto;
                }

                h3 {
                    position: relative;
                    color: $color4;
                    padding-bottom: $padding-standard;
                    padding-left: $padding-standard;
                }

                padding-bottom: $padding-standard;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            .contact-image {
                background-image: url("images/empty_contact.png");
                height: 64px;
                width: 64px;
                background-repeat: no-repeat;
                background-position: 50%;
                background-position-y: 50%;
                background-color: grey;
                background-size: 106% 172%;
                border-radius: 50% 50%;
            }
        }

        .list-group-item {
            padding-left: $padding-standard;
            /*padding-right: 8px;*/
            padding-right: $padding-standard;

            &:first-child {
                border-radius: 0px;
            }
        }

        .list-group {
            padding-bottom: $padding-standard;
            border-radius: 0px;
        }

        .glyphicon.glyphicon-th-large.meph-color-white {
            color: $color4;
        }


        .meph-view.mainview .meph-activity-view-header {
            background-color: $color1;

            h2 {
                margin: $margin-stardard;
            }
        }

        .meph-activity-view-body,
        .meph-application-body.container-fluid {
            padding: $padding-standard;
        }

        .removed-meph-activity-view-body {
            $pos-split: 17%;
            background: $color6; /* Old browsers */
            background: -moz-linear-gradient(top, $color6 $pos-split, $color7 $pos-split, $color7 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop($pos-split,$color6), color-stop($pos-split,$color7), color-stop(100%,$color7)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, $color6 $pos-split,$color7 $pos-split,$color7 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, $color6 $pos-split,$color7 $pos-split,$color7 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, $color6 $pos-split,$color7 $pos-split,$color7 100%); /* IE10+ */
            background: linear-gradient(to bottom, $color6 $pos-split,$color7 $pos-split,$color7 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color6', endColorstr='$color7',GradientType=0 ); /* IE6-9 */
        }

        .accounts {
            .meph-activity-view-body {
                padding-bottom: $padding-standard;
            }
        }

        .meph-activity-view-body {
            padding-top: $meph-activity-view-body-padding-top;
        }

        .createcontact {
            .meph-activity-view-body {
                padding-top: $padding-standard;
            }
        }

        .meph-view.main-contact,
        .mainview.accounts {
            .meph-activity-view-body {
                padding-top: $padding-standard;
            }
        }

        .mainview {
            .meph-activity-view-body .listwrapper {
                /*margin-top: 60px;
                margin-bottom: 60px;*/
            }
        }

        .chatview.mainview .meph-activity-view-body {
            padding-bottom: $chatview-bottom-padding;

            .listwrapper {
                padding-bottom: $chatview-input-row-height;
            }

            .chatview-input-row {
                height: $chatview-input-textarea-height;
                position: absolute;
                bottom: $chatview-bottom-padding;
                width: 100%;
                z-index: 100;
                background-color: $color3;

                texarea,
                label {
                    padding: 0px;
                    margin: 0px;
                }

                button {
                    width: 100%;
                    height: 100%;
                    /*margin-top: 50%;
                    margin-bottom: 50%;*/
                }

                .chatview-input-row-input {
                    height: 100%;
                    padding: 3px;
                }
            }

            .chatview-text-area {
                height: 100%;
                margin-left: 15px;
            }

            textarea {
                width: 100%;
                height: 100%;
            }
        }

        .mainview.accounts {
            .meph-activity-view-body .listwrapper {
                margin-top: $margin-stardard;
                margin-bottom: $margin-stardard;
            }
        }

        .fa {
            color: $color1;
        }

        .row.contactlink.fa-dead {
            pointer-events: none;
        }

        .meph-application-header {
            .fa {
                color: $color3;
            }
        }

        .btn-social {
            .fa {
                color: $color3;
            }
        }

        .meph-activity-view-footer {
            background-color: $color1;
        }


        .meph-application-body {
            .btn-lg, .btn-group-lg > .btn {
                border-radius: 0;
                background-image: none;
                background-color: transparent;
                border-color: transparent;
            }

            .meph-activity-view-footer {
                .fa {
                    color: $color3;
                }
            }
        }

        .glyphicon.glyphicon-th-large.meph-color-white {
            color: $color3;
            padding: 6px;
            box-shadow: none;
            outline: none;
        }

        .list-group-item:active {
            background-color: $color2;
        }

        .meph-application-header.connecton-application-header {
            .fa fa-plus,
            .fa.fa-bars {
                font-size: 2em;
            }

            .meph-application-menu-button-container {
                button {
                    padding: $padding-standard;
                    outline: none;
                }
            }
        }

        .profile {
            height: $profile_height;
            width: $profile_width;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 50%;
            background-position-x: 50%;
            border: solid $profile-image-border-width $color3;
        }

        .profile.small {
            height: $profile_height_sm;
            width: $profile_width_sm;
        }

        .connection-list-profile-image {
            height: $profile_list_height;
            width: $profile_list_width;

            &.conversation-message {
                height: $profile-conversation-message-height;
                width: $profile-conversation-message-width;
            }
            /*@include iphone5() {
                height: 100px;
                width: 100px;
            }

            @include iphone6() {
                height: 173px;
                width: 173px;
            }

            @include iphone6plus() {
                height: 200px;
                width: 200px;
            }*/
            background-repeat: no-repeat;
            background-size: contain;
            /*background-color: white;*/
            border-radius: 50%;
            position: relative;
            background-position-x: 50%;
            z-index: 100;
            border: solid $profile-image-border-width $color7;

            &.contact-typeahead {
                width: $profile-list-width-small;
                height: $profile-list-height-small;
            }
            /*@include meph-image-background($file: 'empty_contact.png');*/
        }

        .contact-view-header {
            /*background-color: $color7;*/
            padding-top: $padding-size;
            padding-bottom: $padding-size;
        }

        .contact-view-body {
            /*background-color: transparentize($color6, .1);*/
            padding-top: $padding-standard;

            .contact-view-body-details {
                background-color: $color3;
                padding: $padding-size;
                border-radius: $padding-size;

                .contact-name {
                    text-align: center;
                }

                small {
                    color: $color2;
                }
            }
        }

        .meph-application-body {
            .row.contactlink {
                background-color: $color3;
                border-radius: 10px;
                margin-left: $margin-stardard;
                margin-right: $margin-stardard;
                padding: $padding-standard;

                span {
                    color: $color5;
                }
            }

            .contactlink a {

                button {
                    background-color: $color1;
                    padding: $padding-standard;
                    border-radius: 50%;
                    width: $button-dim;
                    height: $button-dim;

                    i.linkicon {
                        color: $color3;
                    }
                }

                &:active {
                    button {
                        background-color: $color4;
                    }

                    i.linkicon {
                        color: $color7;
                    }
                }
            }
        }

        [editrelationship] .row.relationshiplistitem {
            /* padding: 0; */
            border: 0;
            margin: $margin-stardard;
        }

        .main-view-search-button {
            padding-right: $padding-standard;

            button {
                padding-left: $padding-standard;
                /*padding-right: 0;*/
            }
        }

        .connection-account-list-container {
            background-color: $color3;
            padding: $padding-standard;
            padding-top: $padding-standard;
            margin: $margin-stardard;
            border-radius: $connection-box-border-radius;
        }

        .connection-box {
            position: absolute;
            top: 0px;
            background-color: $color1;
            color: $color3;
            padding: $padding-standard;
            border-radius: $connection-box-border-radius;
            height: $button-dim;
            width: $button-dim;

            .connection-box-indicator {
                text-align: center;
                padding-top: $connection-box-indicator-padding;
            }

            div {
                font-size: 11px;
            }

            i {
                color: $color3;
            }
        }

        .color2, .color3, .color4, .color5, .color6, .color7, .color1 {
            width: 100%;
            min-height: 40px;

            & > *:nth-child(2n) {
                color: white;
            }
        }

        .color1 {
            background-color: $color1;
        }

        .color2 {
            background-color: $color2;
        }

        .color3 {
            background-color: $color3;
        }

        .color4 {
            background-color: $color4;
        }

        .color5 {
            background-color: $color5;
        }

        .color6 {
            background-color: $color6;
        }

        .color7 {
            background-color: $color7;
        }
    }
}

@mixin font-pallette($palette, $font, $alternate: 'sans-serif') {

    body[font-palette='#{$palette}'] {
        font-family: $font, $alternate;
    }
}

@include font-pallette($palette:'roboto',$font:'Roboto Slab');
@include font-pallette($palette:'oswald',$font:'Oswald');

@include font-pallette($palette: 'Droid Sans',$font: 'Droid Sans');
@include font-pallette($palette: 'Lato', $font: 'Lato');
@include font-pallette($palette: 'Arvo', $font: 'Arvo');
@include font-pallette($palette: 'Average', $font: 'Average');
@include font-pallette($palette: 'Gravitas One', $font: 'Gravitas One', $alternate: 'cursive');
@include font-pallette($palette: 'Ubuntu', $font: 'Ubuntu', $alternate: 'sans-serif');
@include font-pallette($palette: 'Gentium Basic', $font: 'Gentium Basic', $alternate: 'serif');
@include font-pallette($palette: 'Kreon', $font: 'Kreon', $alternate: 'serif');
@include font-pallette($palette: 'Josefin Slab', $font: 'Josefin Slab', $alternate: 'serif');
@include font-pallette($palette: 'EB Garamond', $font: 'EB Garamond', $alternate: 'serif');
@include font-pallette($palette: 'Open Sans Condensed',$font: 'Open Sans Condensed', $alternate: 'sans-serif');
@include font-pallette($palette: 'Actor', $font: 'Actor', $alternate: 'sans-serif');
@include font-pallette($palette: 'Jura', $font: 'Jura', $alternate: 'sans-serif');
@include font-pallette($palette: 'Forum', $font: 'Forum', $alternate: 'cursive');
@include font-pallette($palette: 'Crimson Text', $font: 'Crimson Text', $alternate: 'serif');
@include font-pallette($palette: 'Rosario', $font: 'Rosario', $alternate: 'sans-serif');

@include font-pallette($palette: 'Poly', $font: 'Poly', $alternate: 'serif');
@include font-pallette($palette: 'Signika', $font: 'Signika', $alternate: 'sans-serif');
@include font-pallette($palette: 'Old Standard TT', $font: 'Old Standard TT', $alternate: 'serif');
@include font-pallette($palette: 'Vollkorn', $font: 'Vollkorn', $alternate: 'serif');
@include font-pallette($palette: 'Italiana', $font: 'Italiana', $alternate: 'serif');
@include font-pallette($palette: 'Fjord One', $font: 'Fjord One', $alternate: 'serif');
@include font-pallette($palette: 'Bevan', $font: 'Bevan', $alternate: 'cursive');
@include font-pallette($palette: 'Amaranth', $font: 'Amaranth', $alternate: 'sans-serif');
@include font-pallette($palette: 'Roboto Slab', $font: 'Roboto Slab', $alternate: 'serif');
@include font-pallette($palette: 'Open Sans', $font: 'Open Sans', $alternate: 'sans-serif');
@include font-pallette($palette: 'Ledger', $font: 'Ledger', $alternate: 'serif');

$palettes: ( /**/
( /**/
palette:"secretkey", /**/
color1: #3F2860, /*header*/
color2: #ef6d3b, /*selection color*/
color4: #fa8b60, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #90C5A9, /*alternating list item*/
color7: #7a9a95 /*list item background*/
), /**/
( /**/
palette:"scd", /**/
color1: #ec583a, /*header*/
color2: #93b1c6, /*selection color*/
color4: #ff7148, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #C7D0D5, /*alternating list item*/
color7: #93b1c6 /* list item background*/
), /**/
( /**/
palette:"eldisgno", /**/
color1: #342800, /*header*/
color2: #e2da99, /*selection color*/
color4: #2b2301, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #5e9ca0, /*alternating list item*/
color7: #73afb6 /* list item background*/
), /**/
( /**/
palette:"melonfree", /**/
color1: #f9a646, /*header*/
color2: #e3d6c6, /*selection color*/
color4: #000000, /*text under header*/
color3: #000000, /*whitish*/
color5: #000000, /*blackish*/
color6: #ebe3e0, /*alternating list item*/
color7: #eed5d1 /* list item background*/
), /**/
( /**/
palette:"gluepro", /**/
color1: #393939, /*header*/
color2: #ff9900, /*selection color*/
color4: #6e6e6e, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #f3843e, /*alternating list item*/
color7: #ff5a09 /* list item background*/
), /**/
( /**/
palette:"squarefactor", /**/
color1: #4b4d52, /*header*/
color2: #b9b1a8, /*selection color*/
color4: #de8642, /*text under header*/
color3: #fff2e7, /*whitish*/
color5: #000000, /*blackish*/
color6: #b9b1a8, /*alternating list item*/
color7: #d0cabf /* list item background*/
), /**/
( /**/
palette:"veloster", /**/
color1: #b81d18, /*header*/
color2: #b6b6b6, /*selection color*/
color4: #202020, /*text under header*/
color3: #f0f0f0, /*whitish*/
color5: #000000, /*blackish*/
color6: #004687, /*alternating list item*/
color7: #f0f0f0 /* list item background*/
), /**/
( /**/
palette:"aromatespixels", /**/
color1: #ca171b, /*header*/
color2: #cdcab9, /*selection color*/
color4: #432f21, /*text under header*/
color3: #f0f0f0, /*whitish*/
color5: #000000, /*blackish*/
color6: #d6d3c4, /*alternating list item*/
color7: #dfded4 /* list item background*/
), /**/
( /**/
palette:"fitznaughty", /**/
color1: #ee4b3e, /*header*/
color2: #e9bc1b, /*selection color*/
color4: #1fda9a, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #f2f2f3, /*alternating list item*/
color7: #f5eacd /* list item background*/
), /**/
( /**/
palette:"barnidesign", /**/
color1: #d9411e, /*header*/
color2: #e05151, /*selection color*/
color4: #333333, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #75a3d1, /*alternating list item*/
color7: #ffd452 /* list item background*/
), /**/
( /**/
palette:"softwaremill", /**/
color1: #73c5e1, /*header*/
color2: #5bb12f, /*selection color*/
color4: #9b539c, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #bccf02, /*alternating list item*/
color7: #eb65a0 /* list item background*/
), /**/
( /**/
palette:"enterprise", /**/
color1: #0b99bc, /*header*/
color2: #fcdf15, /*selection color*/
color4: #3c3c3c, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #d40e52, /*alternating list item*/
color7: #3c3c3c /* list item background*/
), /**/
( /**/
palette:"rscollab", /**/
color1: #639df1, /*header*/
color2: #3b5998, /*selection color*/
color4: #293e6a, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #77ba9b, /*alternating list item*/
color7: #b6a754 /* list item background*/
), /**/
( /**/
palette:"pawstudio", /**/
color1: #0092d7, /*header*/
color2: #3ec303, /*selection color*/
color4: #ee8d09, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #92dce0, /*alternating list item*/
color7: #b5b5b5 /* list item background*/
), /**/
( /**/
palette:"viximo", /**/
color1: #a92159, /*header*/
color2: #bcc747, /*selection color*/
color4: #57102c, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #4ca8a1, /*alternating list item*/
color7: #73c2aa /* list item background*/
), /**/
( /**/
palette:"dcnaf", /**/
color1: #f8dc0b, /*header*/
color2: #fba827, /*selection color*/
color4: #3d3c3a, /*text under header*/
color3: #3d3c3a, /*whitish*/
color5: #000000, /*blackish*/
color6: (#707070), /*alternating list item*/
color7: (#ddd4bc) /* list item background*/
), /**/
( /**/
palette:"bogart", /**/
color1: #97282c, /*header*/
color2: #5f6024, /*selection color*/
color4: #805489, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6:#b08b0d, /*alternating list item*/
color7:#428f89 /* list item background*/
), /**/
( /**/
palette:"spektrum", /**/
color1: #2f8f75, /*header*/
color2: #12f6e9, /*selection color*/
color4: #58f8ab, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #a0fb71, /*alternating list item*/
color7: #ebff33 /* list item background*/
), /**/
( /**/
palette:"chevalblanc", /**/
color1: #48372f, /*header*/
color2: #766151, /*selection color*/
color4: #514947, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #fee202, /*alternating list item*/
color7: #766151 /* list item background*/
), /**/
( /**/
palette:"nasaprospect", /**/
color1: #a34e24, /*header*/
color2: #f9df8d, /*selection color*/
color4: #796e24, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #ea7d24, /*alternating list item*/
color7: #a34e24 /* list item background*/
), /**/
( /**/
palette:"tvsafety", /**/
color1: #bd0102, /*header*/
color2: #72ac93, /*selection color*/
color4: #98002f, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #699e87, /*alternating list item*/
color7: #9bce7d /* list item background*/
), /**/
( /**/
palette:"lerenzo", /**/
color1: #30302f, /*header*/
color2: #f4f4f2, /*selection color*/
color4: #1253a4, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #f26964, /*alternating list item*/
color7: #ffd464 /* list item background*/
), /**/
( /**/
palette:"likethereisnotomorrow", /**/
color1: #ff8b6c, /*header*/
color2: #5fa292, /*selection color*/
color4: #558188, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #ff9c5f, /*alternating list item*/
color7: #253939 /* list item background*/
), /**/
( /**/
palette:"gubbmackie", /**/
color1: #003058, /*header*/
color2: #168a8f, /*selection color*/
color4: #0330c3, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #f04c40, /*alternating list item*/
color7: #8d2663 /* list item background*/
), /**/
( /**/
palette:"neilsonphoto", /**/
color1: #634271, /*header*/
color2: #ababab, /*selection color*/
color4: #2d2d2d, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #ababab, /*alternating list item*/
color7: #2d2d2d /* list item background*/
), /**/
( /**/
palette:"kikkfest", /**/
color1: #063e53, /*header*/
color2: #d1c5b7, /*selection color*/
color4: #856941, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #0193b7, /*alternating list item*/
color7: #735d41 /* list item background*/
), /**/
( /**/
palette:"thesearethings", /**/
color1: #e7512d, /*header*/
color2: #f6f6f6, /*selection color*/
color4: #cbcbc1, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #b6aea1, /*alternating list item*/
color7: #72441e /* list item background*/
), /**/
( /**/
palette:"theshihab", /**/
color1: #ab3334, /*header*/
color2: #eddab6, /*selection color*/
color4: #331919, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #eddab6, /*alternating list item*/
color7: #e8d1a4 /* list item background*/
), /**/
( /**/
palette:"duplos", /**/
color1: #f4ac42, /*header*/
color2: #4d505b, /*selection color*/
color4: #cf4858, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #16a79d, /*alternating list item*/
color7: #80628b /* list item background*/
), /**/
( /**/
palette:"speedmotion", /**/
color1: #262c3a, /*header*/
color2: #ffffff, /*selection color*/
color4: #517398, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #ff606e, /*alternating list item*/
color7: #00ddd8 /* list item background*/
), /**/
( /**/
palette:"cuisinesschmidt", /**/
color1: #d32127, /*header*/
color2: #78c3ae, /*selection color*/
color4: #9ca98c, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #aed136, /*alternating list item*/
color7: #d2c950 /* list item background*/
), /**/
( /**/
palette:"dashag", /**/
color1: #00cbe9, /*header*/
color2: #c3dae3, /*selection color*/
color4: #fd8a33, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #8bc537, /*alternating list item*/
color7: #E792b5 /* list item background*/
), /**/
( /**/
palette:"sqd", /**/
color1: #ae9c96, /*header*/
color2: #a6d8de, /*selection color*/
color4: #ae9c96, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #dddad6, /*alternating list item*/
color7: #f9f1b5 /* list item background*/
), /**/
( /**/
palette:"meetinnov", /**/
color1: #e41a6a, /*header*/
color2: #6ec1c2, /*selection color*/
color4: #2eafb0, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #7f2b82, /*alternating list item*/
color7: #f1831d /* list item background*/
), /**/
( /**/
palette:"mashastudio", /**/
color1: #25242c, /*header*/
color2: #32313b, /*selection color*/
color4: #ec3f8c, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #39b1c6, /*alternating list item*/
color7: #1fd26a /* list item background*/
), /**/
( /**/
palette:"kavat", /**/
color1: #f87ab8, /*header*/
color2: #efefef, /*selection color*/
color4: #f79b2e, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #e1358d, /*alternating list item*/
color7: #cccccc /* list item background*/
), /**/
( /**/
palette:"fernando", /**/
color1: #fbcb15, /*header*/
color2: #8b1c55, /*selection color*/
color4: #ff1900, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #159594, /*alternating list item*/
color7: #1a8cab /* list item background*/
), /**/
( /**/
palette:"josefk", /**/
color1: #1d2f3e, /*header*/
color2: #c9e1c1, /*selection color*/
color4: #152737, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #0f9fb4, /*alternating list item*/
color7: #0fb493 /* list item background*/
), /**/
( /**/
palette:"activatemedia", /**/
color1: #665bc4, /*header*/
color2: #faf9f4, /*selection color*/
color4: #9c6a8d, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #b6dedc, /*alternating list item*/
color7: #52b4af /* list item background*/
), /**/
( /**/
palette:"heimplanet", /**/
color1: #000000, /*header*/
color2: #ffffff, /*selection color*/
color4: #7f909a, /*text under header*/
color3: #ffffff, /*whitish*/
color5: #000000, /*blackish*/
color6: #ed6639, /*alternating list item*/
color7: #385b9f /* list item background*/
), /**/
/**/ );
/*@include pallette($palette:"mea-culpa",
 $color1: #191919, $color2: #DFE2DB, $color4: #FFF056,
 $color3: #FFFFFF);
@include pallette($palette:"big-top", $color1: #C63D0F, $color2: #7E8F7C, $color4: #3B3738, $color3: #FDF3E7);*/
@each $pal in $palettes {
    @include pallette($palette:map-get($pal, "palette"), $color1:map-get($pal, "color1"), $color2:map-get($pal, "color2"), $color3:map-get($pal, "color3"), $color4:map-get($pal, "color4"), $color5:map-get($pal, "color5"), $color6:map-get($pal, "color6"), $color7:map-get($pal, "color7"))
}
