<div class="meph-view meph-view-remove">
    <activityview data-bind='"activityName": "c$.name"'>
        <div class="meph-grid-row-a">
            <div class="meph-layout-grid-column-a">
                <h2>Regular</h2>
            </div>
            <div class="meph-layout-grid-column-a">
                <h3>default</h3>
                <mephbutton>Lorem</mephbutton>     
                <br />
                <label class="meph-label">background-color</label> <span>$meph-color-white </span>     
            </div>
            <div class="meph-layout-grid-column-a">
                <h3>clicked/pressed</h3>
                <mephbutton class="clicked">Lorem</mephbutton>   
                <br />
                <label class="meph-label">background-color</label> <span>$u4-color-selected-blue </span>
                <br />
                <label class="meph-label">border-color</label> <span>$u4-color-dark-medium-grey</span>  
            </div>
            <div class="meph-layout-grid-column-a">
                <h3>click/pressed over</h3>
                <mephbutton class="clickedOver">Lorem</mephbutton>     
                <br />
                <label class="meph-label">background-color</label> <span>$button-pressed-color </span>
                <br />
                <label class="meph-label">border-color</label> <span>$u4-color-dark-medium-grey</span>      
            </div>
        
        </div>
        <div class="meph-split"></div>
        <div class="meph-grid-row-a">
            <div class="meph-layout-grid-column-a">
                <h2>Blue</h2>
            </div>
            <div class="meph-layout-grid-column-a">
                <h3>default</h3>
                <mephbutton class="blue">Lorem</mephbutton>  
                <br />
                <label class="meph-label">background-color</label> <span>$meph-color-primary-3 </span>             
            </div>
            <div class="meph-layout-grid-column-a">
                <h3>click/pressed</h3>
                <mephbutton class="blue clicked">Lorem</mephbutton>       
                <br />
                <label class="meph-label">border-color</label> <span>$meph-color-primary-2</span>            
            </div>
            <div class="meph-layout-grid-column-a">
                <h3>click/pressed over</h3>
                <mephbutton class="blue clickedOver">Lorem</mephbutton>       
                <br />
                <label class="meph-label">border-color</label> <span>$meph-color-primary-1</span>         
            </div>
        </div>
</activityview>

</div>
