<div class="meph-view meph-view-remove mainview">
    <meview mephid="$activityview">
        <card_default_template mephid="template" meph-data-data="v$.contact"></card_default_template>
        <!--<div class="col-md-12 col-xs-12" footerpadding
             meph-event-click="v$.hideShow, v$.$activityview.smallqrcode, v$.$activityview.qrcode">
            <div class="col-md-12 col-xs-12" mephid="qrcode" id="qrcode" qrcode>
            </div>
            <div class="col-md-12 col-xs-12" id="smallqrcode" mephid="smallqrcode" qrcode>
            </div>
        </div>-->
    </meview>
</div>
