<div class="meph-view meph-view-remove mainview selectprofilecontactimage">
    <!--<mephbutton meph-event-btn-click="style.hide,v$.camerasource.formBody|style.show,v$.camera.formBody">
        <i class="fa fa-picture-o"></i>
    </mephbutton>
    <mephbutton meph-event-btn-click="style.hide,v$.camera.formBody|style.show,v$.camerasource.formBody|style.show,v$.takepicture">
        <i class="fa fa-camera"></i>
    </mephbutton>-->
    <div style="display:none;" mephid="canvasholder" canvasholder> <canvas mephid="canvas" class="profile-select-canvas"></canvas></div>
    <camera mephid="camera" descriptiontext="Camera Image" meph-event-change="v$.onImageChange" labeltext="Camera Image"></camera>
    <camerastream mephid="camerasource"></camerastream>
    <!--<mephbutton mephid="takepicture" meph-event-btn-click="v$.takeAPicture">
        <i class="fa fa-camera"></i>
    </mephbutton>-->
</div>
